{
  "env": {
    "development": {
      "presets": ["env", "react-app"],
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              }
            ]
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "env", "react-app"
      ],
    }
  }
}
