.form-layout {
  // background-color: #FFF;
  padding-top: 1px;
}
.form-group.hidden {
  display: none;
}
.home-page {
  // background-color: #FFF;
  padding: 10px;
}
.login-layout {
  background-color: rgba(#FFF, 0.9);
}
