.pages-container {
  >.common-mode {
    padding: 10px;
  }
}
.form-layout {
  background-color: #FFF;
  padding-top: 1px;
}
.form-group.hidden {
  display: none;
}
.home-page {
  background-color: #FFF;
  padding: 10px;
}
.login-panel {
  background-image: url(/css/images/bg/001.jpg);
}