{%comment%}

import React, {Component} from 'react';

import { FormLayout, Loading } from '@deer-ui/core';
import { Services } from "@dashboard/services";
import { FormRender } from "../../template-engine";

class MiddleFormClass extends Services {
  state = {
    ...this.state
  }
  constructor(props) {
    super(props);

    this.formOptions = this.getForms(['hideDemo', 'inputDemo', 'pwDemo', 'selectDemo', 'radioDemo']);
  }
  btnConfig = [
    {
      action: async (formRef, actingRef) => {
        if(!this.checkForm(formRef)) return;

        let postData = {
          ...formRef.value,
        };
        const agentOptions = {
          actingRef
        };
        await this.reqAgent(this.apis.testSubmit, agentOptions)(postData);
      },
      text: '按钮1',
      actingRef: 'acting1',
      className: 'theme'
    },
    {
      action: async (formRef, actingRef) => {
        if(!this.checkForm(formRef)) return;

        let postData = {
          ...formRef.value,
        };
        const agentOptions = {
          actingRef
        };
        await this.reqAgent(this.apis.testSubmit, agentOptions)(postData);
      },
      text: '按钮2',
      actingRef: 'acting2',
      className: 'red'
    },
  ];
}

const {%pageName%} = FormRender(MiddleFormClass);

export {
  {%pageName%}
}
