{%comment%}

import React, { Component } from 'react';
import { ActionForm{%pageName%} } from '../action-refs';

import { FormRender } from '../../template-engine';

const {%pageName%} = FormRender(ActionForm{%pageName%});

export {
  {%pageName%}
}