{%comment%}

import React, {Component} from 'react';
import {ActionReport{%pageName%}} from '../action-refs';
import {ReportRenderNormal} from '../../components/report-layout-template';

const {%pageName%} = ReportRenderNormal(ActionReport{%pageName%});

export {
  {%pageName%}
}
