{%comment%}

import React, { Component } from 'react';
import { ShowGlobalModal, CloseGlobalModal } from 'ukelli-ui';
import { ActionReport{%pageName%} } from '../action-refs';
import { ReportRenderNormal } from '../../components/report-layout-template';

class Middleware extends ActionReport{%pageName%} {
  actionBtnConfig = [
    {
      text: '编辑',
      action: (item) => {
        this.showDetail(item);
      }
    },
  ]
  showDetail(item) {
    console.log(item)
    let ModalId = ShowGlobalModal({
      title: '详情',
      width: 700,
      children: (
        <span className="text-center" onClick={e => CloseGlobalModal(ModalId)}>当前人: {item.UserName}</span>
      )
    })
  }
}

const {%pageName%} = ReportRenderNormal(Middleware);

export {
  {%pageName%}
}
